@model PharmaKursWork.ViewModels.ChallengeViewModels.EditChallengeViewModel;
@{
    Layout = null;
}

<div id="idi" class="modal fade" tabindex="-1" aria-labelledby="editModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Змінити випробування</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-action="EditChallenge" asp-controller="Challenge">
                    <input type="hidden" asp-for="EditChallengeModal.Id" required/>
                    <div class="mb-3 row align-items-center">
                        <div class="col-auto">
                            <label for="Name" class="col-form-label">@Html.DisplayNameFor(_ => Model.EditChallengeModal.Name)</label>
                        </div>
                        <div class="col-auto flex-grow-1">
                            <input asp-for="EditChallengeModal.Name" class="form-control" id="Name" required>
                            <span asp-validation-for="EditChallengeModal.Name"></span>
                        </div>
                    </div>
                    <div class="mb-3 row align-items-center">
                        <div class="col-auto">
                            <label for="lab" class="form-label">@Html.DisplayNameFor(_ => Model.EditChallengeModal.ScientistId)</label>
                        </div>
                        <div class="col-auto flex-grow-1">
                            <select class="form-control" asp-for="EditChallengeModal.ScientistId" asp-items="Model.ScientistSelectList" required></select>
                            <span asp-validation-for="EditChallengeModal.ScientistId"></span>
                        </div>
                    </div>
                    <div class="mb-3 row align-items-center">
                        <div class="col-auto">
                            <label for="unitMesuare" class="form-label">@Html.DisplayNameFor(_ => Model.EditChallengeModal.TechStaffId)</label>
                        </div>
                        <div class="col-auto flex-grow-1">
                            <select class="form-control" asp-for="EditChallengeModal.TechStaffId" asp-items="Model.TechStaffSelectList" required></select>
                            <span asp-validation-for="EditChallengeModal.TechStaffId"></span>
                        </div>
                    </div>
                    <div class="mb-3 row align-items-center">
                        <div class="col-auto">
                            <label for="commodityGroup" class="form-label">@Html.DisplayNameFor(_ => Model.EditChallengeModal.MedId)</label>
                        </div>
                        <div class="col-auto flex-grow-1">
                            <select class="form-control" asp-for="EditChallengeModal.MedId" asp-items="Model.MedSelectList" required></select>
                            <span asp-validation-for="EditChallengeModal.MedId"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрити</button>
                        <button type="submit" class="btn btn-primary">Змінити</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>